.wrapper{
    width:100%;
    height:100%;
}
.body_left{
    width: 100%;
    height: 300px;
    border: 1px solid #000;
}
.body_right{
    width: 100%;
    height: 300px;
    border: 1px solid red;
}
.wrapper-content{
    margin: 0 auto;
}