*{
    margin: 0;
    padding: 0;
}
.top-container{
    height: 50px;
    display: flex;
    align-items: center;
}
.grid-content {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-items: self-end;
  }
.main-header-left{
    display: flex;
    align-items: center;
    margin-left: 1em;
}
.main-header-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar-collapse{
    width: 1em;
    font-size: 1em;
    float: right;
    display: none;
    padding: 0 1rem;
}
.header-img{
    width: 2em;
    height: 2em;
} 
.header-img > img{
    width: 100%;
    height: 100%;
}
.header-name{
    font-size: 1em;
}
.bg-purple-dark{
    position: relative;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background: #f8f8f8;
}
.acivemenu{
    background: #e7e7e7;
}
.top-right-content{
    float: right;
    height: 50px;
    line-height: 50px;
    padding: 0 .6em;
}
.menu-name{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.show{
    height: 200px;
    transition: height .5s;
}
.hidden{
    height: 0px;
    transition: height .5s;
}
.nav-menu::after{
    content: '';
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

@media screen and (max-width:768px){
    .navbar-collapse{
        display: block;
    }
    .nav-menu{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background: #f8f8f8;
        overflow: hidden;
    }

    .top-right-content{
        padding:  0 1em;
        float: none;
    }
}
@media screen and (min-width:768px){
    .navbar-collapse{
        display: none;
    }
    .top-right-content{
        float: right;
        height: 50px;
        line-height: 50px;
        padding: 0 .6em;
    }
    .show{
        height: 0;
    }
}

.slide-enter{
    height: 0px;
}
.slide-enter-active{
    height: 200px;
    transition: height .5s ease-in;
}
.slide-enter-done{
    height: 200px;
}
.slide-exit{
    height: 200px;
}
.slide-exit-active{
    height: 0;
    transition: height .5s ease-in;
}
.slide-exit-done{
    height: 0;
}